<div>
    <h3>Orders for <code>{{ email }}</code></h3>
    <div class="box-it" *ngIf="ordersSummary.length <= 0">
        <code>There are no orders found</code>
    </div>
    <div *ngIf="ordersSummary.length > 0">
        <div class="box-it" *ngFor="let o of ordersSummary">
            <h4>Order ID: {{ o.orderId }}</h4>
            <p>Price: {{ o.amount | currency }}</p>
        </div>
    </div>
    <div>
        <button type="button" [routerLink]="['/']">Back to Ordering</button>
    </div>
</div>